.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: 1rem;
  width: 100%;
}

.select {
  @extend .text-input;
  width: auto;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

.label {
  display: block;
}
