.button {
  background-color: $theme-color-secondary;
  border: 0;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--link-dark {
  @extend .button--link;
  color: $theme-color-secondary;
}

.button--secondary {
  background-color: #888;
}
