.content-container {
  padding: 0 $m-size;

  &--centered {
    margin: 0 auto;
    max-width: 80rem;
  }
  &--two-panel,
  &--two-panel.form {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  &__action-panel {
    padding-left: $m-size;
  }
}
