.content-container {
  padding: 0 $m-size;

  &--centered {
    margin: 0 auto;
    max-width: 80rem;
  }
  &--two-panel,
  &--two-panel.form {
    @media (min-width: $desktop-breakpoint) {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
  }

  &__action-panel {
    @media (min-width: $desktop-breakpoint) {
      padding-left: $m-size;
    }
  }
}
