.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size $s-size;
  font-style: italic;
}

.form__success {
  margin: 0 0 $m-size $s-size;
  // font-style: italic;
}

.fields-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
