.header {
  background: darken($theme-color-primary, 5%);
}

.header__content {
  align-items: center;
  justify-content: space-between;
  padding: $s-size 0;
  padding-left: 5rem;

  @media (min-width: $desktop-breakpoint) {
    display: flex;
  }
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header button {
  display: none;
  @media (min-width: $desktop-breakpoint) {
    display: inline;
  }
}
